[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mozdevice = "*"
pytest = "==3.7.0"
pytest-fxa = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "2.7"
